<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmo.teachingeva.mapper.CourseTeacherMapper">

    <resultMap id="BaseResultMap" type="com.itmo.teachingeva.domain.CourseTeacher">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="tid" column="tid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cid,tid
    </sql>
</mapper>
